[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "hugoTest/themes/ananke"]
	path = hugoTest/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
